div{
    text-emphasis-color: white;
    align-items: center;
    padding: 2px;
    border-color: black;
    width: 250px;
     height: fit-content;
    background-color:aquamarine;
    padding: 40px;
    
}
button{

}